button {
    padding: 10px 15px;
}

.flex {
    display: flex;
}

.flex p {
    font-size: 20px;
    margin: 8px 10px;
}

.star {
    background-color: yellow;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 10px;
    vertical-align: middle;
}

.links {
    margin: 20px 10px;
}

.links a {
    margin-right: 10px;
}